<div class="student-view">
    <div class="student-view-title">
        <h1>Student Record</h1>
    </div>
    <div class="department-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Enrollment Count</th>
                    <th>Last Registration date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of studentData">
                    <td [routerLink]="['/ViewStudent/'+ item.id]">{{item.firstName}} {{item.lastName}}</td>
                    <!-- <td {{viewStudentCourseCount({{item.id}})}}>{{courseCount}}</td> -->
                    <td>{{courseCount}}</td>
                    <td></td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="deleteStudent(item.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>