<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid border border-dark">
    <a class="navbar-brand col-6 d-flex justify-content-center " id="nav-employee"   routerLink="/EmployeeForm" routerLinkActive="active" ariaCurrentWhenActive="page">Employee</a>
    <a class="navbar-brand col-6 d-flex justify-content-center " id="nav-department"  routerLink="/ViewDepartment" routerLinkActive="active" ariaCurrentWhenActive="page">Department</a>
  </div>
</nav>

<router-outlet></router-outlet>