.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover
{
    background-color: #ffffff;
}

.btn1:visited,
.btn2:visited,
.btn3:visited,
.btn4:visited
{
    background-color: #ffffff;
}

.btn1,
.btn2,
.btn3,
.btn4
{
    background-color: #bfbfbf;    
}

btngroupchat{
    background-color: cadetblue;
    padding-left:100px;
    padding-right: 100px;
}
